/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* APP STYLES */
html {
  background: #000; }

body {
  background: #000;
  color: #eee;
  font-family: myriad-pro;
  font-size: 16px;
  margin: 20px;
  text-align: center; }

#page {
  margin: 0 auto;
  width: 980px; }

h1 {
  -webkit-transition: all .2s linear;
  cursor: pointer;
  height: 180px;
  margin: 200px 0 10px 0;
  font-size: 144px;
  font-family: myriad-pro;
  font-weight: bold;
  transition: all .2s linear; }
  h1 span {
    color: #E6E6E6;
    margin: 0 -6px 0 0; }
  h1 span.char9, h1 span.char10 {
    color: #007FFE; }
  h1 span.char1 {
    margin-right: -1px; }
  h1 span.char2 {
    margin-right: -8px; }
  h1 span.char3 {
    margin-right: -7px; }
  h1 span.char4 {
    margin-right: -8px; }
  h1 span.char6 {
    margin-right: -2px; }
  h1 span.char8 {
    margin-right: 3px; }
  h1:hover {
    font-size: 148px; }

h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 12px 0 -6px 0; }

h1 + h2 {
  color: #666;
  font-size: 24px; }

ul {
  list-style-type: disc;
  margin: 12px 0 12px 20px; }
  ul li {
    line-height: 18px;
    margin: 6px 0; }

p {
  line-height: 18px;
  margin: 12px 0; }

a {
  color: #bbb;
  -webkit-transition: color .2s linear;
  transition: color .2s linear; }
  a:hover {
    color: #007FFE;
    text-decoration: none; }

.panel {
  -webkit-transition: all .2s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  float: left;
  height: 160px;
  margin: 40px 10px 20px 10px;
  padding: 0 10px;
  text-align: left;
  transition: all .2s linear;
  width: 280px; }
  .panel:hover {
    background: #222;
    border: 1px solid #aaa; }

.panel + .panel + .panel {
  margin-right: 0; }

#organizers {
  clear: both;
  color: #666; }
